

.dashboard__container{
    padding: 0.5rem 1rem;
    min-height: 100vh;
   
}

.dashboard__navbar__container{
    position: fixed;
    left: 0;
    top: 0;
    
}
.main,.dashboard__topbar__container{
    margin-left: 17vmax;
    
}

/* Optional: Responsive */
@media (max-width: 768px) {
  

 .dashboard__navbar__container {
    transform: translateX(-100%);
  }
.main,.dashboard__topbar__container{
    margin-left: 0;
    
}
  .sidebar_open {
    transform: translateX(0);
  }
}