

.dashboard__container{
   padding: 1rem;
    min-height: 100vh;
    width: 98vw;
    overflow-x: hidden;
   
}

.dashboard__navbar__container{
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    
}
.main,.dashboard__topbar__container{
    margin-left: 17vmax;
    
}

/* Optional: Responsive */
@media (max-width: 768px) {
  
.dashboard__container{
   
}
 .dashboard__navbar__container {
    transition: all 0.5s ;
    transform: translateX(-140%);
    z-index: 1111;
  }
.main,.dashboard__topbar__container{
    margin-left: 0;
    
}
.open__dashboard__navbar__container{
    transform: translateX(0%);
    z-index: 1111;

}

}