
:root{
    --btn__color:rgba(77, 0, 125, 1)
}
.primary__btn{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--btn__color);
    border: none;
    padding: 0.5rem 2.5rem;
    border-radius: 50px;
    cursor: pointer;
}

.outline__btn{
background-color: transparent;
color: red;
    font-size: 1rem;
    font-weight: 600;
  ;
    border: 1px solid red;
    padding: 0.5rem 2.5rem;
    border-radius: 50px;
    cursor: pointer;
}